<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div id="selector">
      <!-- Wij hebben hier de Div id selector want wij creeeren hier selector-->
        <select v-model="selected" @change="onchange()" class="form-control">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
    </div>

    <!-- Wij willen een selectie hebben uit de gekozen selectie bij de selector -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      new Vue({
        //El staat voor element deze moet je aangeven zodat Vue weet waar je op geslecteerd staat.
        //We kijken naar het ID selector want we maken een selector.
        el: '#selector',
        data: {
          //Definieer selected.
          selected: '',
          //Wij hebben geen standaard waarde want dit was ook niet gevraagd.
          options: [
            { text: 'Herentoilet', value: 'Herentoilet' },
            { text: 'Damestoilet', value: 'Damestoilet' },
            { text: 'Keuken', value: 'Keuken' }
          ]
        },
        methods: {
          //word aangroepen door de Selector als die veranderd word.
            onchange: function(){
              //Logged en alert welke optie geselecteerd is
              console.log(this.selected)
              alert(this.selected)
            }
          }
      });


      //Wij kiezen van uit de gekozen ruimte verschillende opties om de meldingen te kunnen doen.
    </script>
  </body>
</html>
