<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div id="selector">
      <!-- Wij hebben hier de Div id selector want wij creeeren hier selector-->
      <select v-model="selected" @change="onchange()" class="form-control">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <br />
      <!--weergeven wat er geselecteerd is-->
      <span>
        <button type="button">{{ selected }}</button>
      </span>
      <br />


      <span v-for="item in itemArray">
          <input type="radio">{{ item.name }}</input> <br />
        </span>
    </div>

    <!-- Wij willen een selectie hebben uit de gekozen selectie bij de selector -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
 var Test = new Vue({
        //El staat voor element deze moet je aangeven zodat Vue weet waar je op geslecteerd staat.
        //We kijken naar het ID selector want we maken een selector.
        el: "#selector",
        data: {
          name: '',
          //Define the ItemArray deze is genest. want deze 'leeft' hier 
          itemArray: [],
          //Definieer selected.
          selected: " ",
          //Wij hebben geen standaard waarde want dit was ook niet gevraagd.
          options: [
            { text: "Herentoilet", value: "Herentoilet" },
            { text: "Damestoilet", value: "Damestoilet" },
            { text: "Keuken", value: "Keuken" }
          ]
        },
        methods: {
          //word aangroepen door de Selector als die veranderd word.
          onchange: function() {
            //Logged en alert welke optie geselecteerd is
            console.log(this.selected);
            /*
            if ("Herentoilet" == this.selected) {
              //Logged en alert welke optie geselecteerd is
              console.log("wcpapier");
            } else if ("Damestoilet" == this.selected) {
              console.log("zeep");
            } else {
              console.log("afwasmachine");
            }
            */

            switch (this.selected) {
              case "Herentoilet":
                //De array word leeg gemaakt.
                Test.itemArray = [];
                var Herentoiletarray = ["toilet vies", "zeep op", "handdoeken"];
                console.log(Herentoiletarray);
                break;
              case "Damestoilet":
                              //De array word leeg gemaakt.
                              Test.itemArray = [];
                var Damestoiletarray = ["toilet vies", "zeep op", "handdoeken"];
                console.log(Damestoiletarray);
                break;
              case "Keuken":
                var keukenarray = [
                  "koffieautomaat stuk",
                  "vaatwasser",
                  "koffiebonen op"
                ];
                //De array word leeg gemaakt.
                Test.itemArray = [];
                //We vullen de array
                //alert: "vaatwasser", alert: "koffiebonen op"
                Test.itemArray.push({ name: "Koffieautomaat stuk"});
                Test.itemArray.push({ name: "vaatwasser"});
                Test.itemArray.push({ name: "koffiebonen op"});
                console.log(keukenarray);
                break;
            }
          }
        }
      });

      //Wij kiezen van uit de gekozen ruimte verschillende opties om de meldingen te kunnen doen.
    </script>
  </body>
</html>
